<?xml version="1.0" ?>
<robot name="box" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find box_description)/urdf/materials.xacro" />
<xacro:include filename="$(find box_description)/urdf/box.trans" />
<xacro:include filename="$(find box_description)/urdf/box.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-7.870733179058506e-17 1.9676832947646264e-17 0.07703811205150851" rpy="0 0 0"/>
    <mass value="14.513582400000027"/>
    <inertia ixx="0.153091" iyy="0.342661" izz="0.372531" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find box_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find box_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
