<?xml version="1.0" ?>
<robot name="frame" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find frame_description)/urdf/materials.xacro" />
<xacro:include filename="$(find frame_description)/urdf/frame.trans" />
<xacro:include filename="$(find frame_description)/urdf/frame.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-6.087905556432197e-16 -0.11865332545839843 0.3025677116810472" rpy="0 0 0"/>
    <mass value="5.258658040215876"/>
    <inertia ixx="0.524098" iyy="0.393335" izz="0.252305" ixy="-0.0" iyz="0.000263" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find frame_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find frame_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
