<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Box">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-7.2519E-17 -0.044 0.071038"
        rpy="0 0 0" />
      <mass
        value="1.8489" />
      <inertia
        ixx="0.043651"
        ixy="-1.7627E-17"
        ixz="5.8423E-18"
        iyy="0.019502"
        iyz="-3.3255E-18"
        izz="0.047456" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Box/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Box/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>